html {
  color: #777;
  font-family: 'Open Sans', Arial;
  font-size: 16px;
}
* {
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100%;
}
img {
  display: block;
}
a:focus,
a:active,
button:focus {
  outline: 0;
}
body {
  background-color: #38424b;
}
body > * {
  position: relative;
  width: 37.5em;
  margin: 0 auto;
}
header {
  height: 5em;
}
header h1 {
  position: absolute;
  margin: 0;
  font-size: 3em;
  font-family: 'Indie Flower', cursive;
  left: 0;
}
header nav {
  position: absolute;
  font-size: 1.25em;
  right: 0;
  top: 1em;
}
header nav a {
  display: inline-block;
  padding: 0.25em;
  text-decoration: none;
}
header nav a:hover {
  color: #38424b;
  background-color: #777;
}
@mixin vertical-align {
  position: relative;
  top: 50%;
  tranform: translateY(-50%);
}
.settings,
main.cards {
  background-color: #415463;
  text-align: center;
  color: rgba(255,255,255,0.65);
}
.settings header h1,
main.cards header h1 {
  position: relative;
}
.card {
  font-size: 20em;
}
a.next {
  position: absolute;
  cursor: pointer;
  top: 0.25em;
  right: 0.5em;
  font-size: 1.5em;
}
a.next::after {
  content: '\f054';
  font-size: 0.75em;
  padding-left: 0.25em;
}
button {
  min-width: 10em;
  background-color: transparent;
  border: 1px solid rgba(255,255,255,0.1);
  padding: 0.5em;
  font-weight: bold;
  cursor: pointer;
}
button:focus,
button:hover {
  border: 2px solid rgba(255,255,255,0.4);
}
button.active {
  border-color: rgba(255,255,255,0.7);
  color: #fff;
  background-color: rgba(255,255,255,0.4);
}
#edit {
  color: #777;
  text-align: center;
  background-color: #38424b;
  font-weight: bold;
  border: 1px solid rgba(255,255,255,0.4);
  padding: 0.5em;
}
