# Dissallow hotlinking to folders
#Options -Indexes
Options +FollowSymLinks

# Turn on rewrite engine
RewriteEngine On
RewriteBase /

# Redirect all requests to router
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . router.php
RewriteRule ^$ router.php