font-size = 16px
body-width = (600 / font-size)em
gutter = 1em
main-half-width = (body-width / 2 - gutter/2)
header-height = 5em
main-height = (650 / font-size)em
light-text = rgb(230, 222, 211)
dark-text = rgb(95, 89, 78)
body-background-color = rgb(56, 66, 75)

@require './reset'
@require './utils'
@require './body-header.styl'

@mixin vertical-align
  position relative
  top 50%
  tranform translateY(-50%)

gutter-box =
  > *
    display block
    width (main-half-width - 2 * gutter)
    margin 0 auto

main-background-color = rgb(65, 84, 99)
main-color = rgba(0, 0, 0, 0.4)

.settings
  background-color #415463
  text-align center
  color rgba(255, 255, 255, 0.65)
  // {gutter-box}
  // vertical-owl(gutter)

  header h1
    position relative

main.cards
  @extend .settings

.card
  font-size 20em

a
  &.next
    position absolute
    cursor pointer
    top 0.25em
    right 0.5em
    font-size 1.5em

  &.next::after
    content '\f054'
    font-size 0.75em
    padding-left 0.25em

button
  min-width 10em
  background-color transparent
  border 1px solid rgba(255, 255, 255, 0.1)
  padding 0.5em
  font-weight bold
  cursor pointer

  &:focus, &:hover
    border 2px solid rgba(255, 255, 255, 0.4)

  &.active
    border-color rgba(255, 255, 255, 0.7)
    color #fff
    background-color rgba(255, 255, 255, 0.4)

#edit
  color #777
  text-align center
  background-color body-background-color
  font-weight bold
  border 1px solid rgba(255, 255, 255, 0.4)
  padding 0.5em
