body
  background-color body-background-color

body > *
  position relative
  width body-width
  margin 0 auto

header
  height header-height

  h1
    h1-font-size = 3em
    position absolute
    margin 0
    font-size h1-font-size
    font-family 'Indie Flower', cursive
    left 0

  nav
    nav-font-size = 1.25em
    position absolute
    font-size nav-font-size
    right 0
    top 1em

    a
      display inline-block
      padding 0.25em
      text-decoration none

    a:hover
      color body-background-color 
      background-color text-color
