short-description(border-color)

  .short-description
    border-top 1px solid border-color
    border-bottom 1px solid border-color

    + .short-description
      border-left 1px solid border-color

info-box(text-color, background-color, border-color)
  background-color background-color
  color text-color
  text-align center
  border-color border-color

  {gutter-box}

  short-description border-color

