.reptile-form .field {
  margin: 10px 0; }
  .reptile-form .field > label {
    padding-right: 10px;
    float: left;
    width: 180px;
    box-sizing: border-box;
    text-align: right; }
  .reptile-form .field > .field-input {
    margin-left: 180px; }
  .reptile-form .field.radio-group .field-input > label, .reptile-form .field.checkbox-group .field-input > label {
    margin-right: 5px; }
    .reptile-form .field.radio-group .field-input > label input, .reptile-form .field.checkbox-group .field-input > label input {
      margin-right: 5px; }
